@media(max-width:600px){
    .screen3{
        margin-top: 2rem;
        padding-left: 1rem;
    }
    .screen3 .screen3-items{
        display: flex;
        gap:0.938rem;
    }
    .image1{
        width: 6.874rem;
        height: 6.813rem;
        border-radius: 0.688rem;
    }
    
}